<%- include ('templates/header'); -%>

<div class='container'>
    <div class='jumbotron'>
        <h1> SEARCH RESULTS </h1>
        <button class='btn btn-info' onclick='location.href="/";'>Search Again</button>
    </div>

   <p> <%= data.title %> </p>
   <p> <%= data.authors[0].name %> </p>
   <p> <%= data.publish_date %> </p>
   <p> <%= data.publishers[0].name %> </p>
   <p> <%= data.number_of_pages %> </p>
   <img href="<%= data.cover.medium %>" >
   
</div>

<script type="text/javascript" src="js/results.js"></script>

<%- include ('templates/footer'); -%>